.container {

    display: inline-block;
    width: 40%;
    margin: auto;
    margin-left: 120px;

}

.container:hover {
    scale: 1.05;
}


img {
    width: 50%;

}


.form-control {
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;

}


.btn {
    margin: auto;
    margin-bottom: 40px;
}

.lead {
    font-size: 35px;
}
